<br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="but1 view overlay zoom hm-blue-light">
          <img src="https://mdbootstrap.com/img/Photos/Horizontal/People/6-col/img%20(7).jpg" class="img-fluid " alt="">
          <div class="mask flex-center">
            <a mdbWavesEffect type="button" class="btn btm-sm waves-light">Quick View</a>
          </div>
        </div>
        <div class="pt-2 text-center">
          <label>Project title title title</label>
          <label style="font-size: 18px">₹28.00 – ₹66.00</label>
          <br>
          <label class="pr-3">QTY : </label>
          <select>
            <option>1 Kg</option>
            <option>500 gm</option>
            <option>100 gm</option>
          </select>
          <br>
          <button mdbRippleRadius type="button" class="btn btn-sm indigo accent-2 mb-3 col-8 col-sm-8 waves-effect waves-light">
            ADD TO CART
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<br>