<div class="card">
  <div class="card-header" style="background: none;">
    <label>MY CART (0)</label>
  </div>
  <div class="card-body text-center">
    <div class="cart-empty">
      <div class="empty-cart-icon">
        <!-- <i class="fa fa-cart-arrow-down fa-5x" aria-hidden="true"></i> -->
        <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/empty-cart_ee6141.png" style="width: 20%" />
      </div>
      <br>
      <div class="empty-cart-message">Your Shopping Bag is empty</div>
      <br>
      <button type="button" class="btn btn-primary col-8 col-sm-3 m-auto m-b-4" [routerLink]="['/']">Continue
        Shopping</button>
    </div>
  </div>
</div>
<br>
<br>