<br>
<div class="card">
  <div class="card-header" style="background: none;">
    <label>MY CART (2)</label>
  </div>
  <div class="card-body" style="height: 300px; overflow-y: scroll; overflow-x: hidden;">
    <div class="row">
      <div class="col-md-2">
        <div class="mb-2">
          <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/empty-cart_ee6141.png" style="width: 90%" />
        </div>
        <div class="">
          <button type="button" value="-" class="minus">-</button>
          <input type="number" class="input-text qty text" step="1" min="0" max="40" value="4" title="Qty" size="4"
            pattern="[0-9]*" inputmode="numeric">
          <button type="button" value="+" class="plus">+</button>
        </div>
      </div>
      <div class="col-md-5">
        <label class="mb-3">Redmi Note 5 Pro (Black, 64 GB)</label>
        <div class="row mb-2">
          <label class="ml-3 mr-3">₹38.00 </label>
          <span style="color: green">Offers Available</span>
        </div>
        <label>REMOVE</label>
      </div>
      <div class="col-md-3 ml-auto" style="font-size: 12px;">
        <span>Delivery in 3-4 days | Free </span>
        <br>
        <span>10 Days Replacement Policy</span>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-2">
        <div class="mb-2">
          <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/empty-cart_ee6141.png" style="width: 90%" />
        </div>
        <div class="">
          <button type="button" value="-" class="minus">-</button>
          <input type="number" class="input-text qty text" step="1" min="0" max="40" value="4" title="Qty" size="4"
            pattern="[0-9]*" inputmode="numeric">
          <button type="button" value="+" class="plus">+</button>
        </div>
      </div>
      <div class="col-md-5">
        <label class="mb-3">Redmi Note 5 Pro (Black, 64 GB)</label>
        <div class="row mb-2">
          <label class="ml-3 mr-3">₹38.00 </label>
          <span style="color: green">Offers Available</span>
        </div>
        <label>REMOVE</label>
      </div>
      <div class="col-md-3 ml-auto" style="font-size: 12px;">
        <span>Delivery in 3-4 days | Free </span>
        <br>
        <span>10 Days Replacement Policy</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2">
        <div class="mb-2">
          <img src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/empty-cart_ee6141.png" style="width: 90%" />
        </div>
        <div class="">
          <button type="button" value="-" class="minus">-</button>
          <input type="number" class="input-text qty text" step="1" min="0" max="40" value="4" title="Qty" size="4"
            pattern="[0-9]*" inputmode="numeric">
          <button type="button" value="+" class="plus">+</button>
        </div>
      </div>
      <div class="col-md-5">
        <label class="mb-3">Redmi Note 5 Pro (Black, 64 GB)</label>
        <div class="row mb-2">
          <label class="ml-3 mr-3">₹38.00 </label>
          <span style="color: green">Offers Available</span>
        </div>
        <label>REMOVE</label>
      </div>
      <div class="col-md-3 ml-auto" style="font-size: 12px;">
        <span>Delivery in 3-4 days | Free </span>
        <br>
        <span>10 Days Replacement Policy</span>
      </div>
    </div>

  </div>
  <div class="card-footer" style="background: none;">
    <div class="text-center">
      <button mdbRippleRadius type="button" class="btn btn-primary col-8 col-sm-3 m-b-4 waves-effect waves-light" [routerLink]="['/']">Continue
        Shopping</button>
      <button mdbRippleRadius type="button" class="btn btn-warning col-8 col-sm-3 m-b-4 waves-effect waves-light" [routerLink]="['/']">
        Place Order</button>
    </div>

  </div>
</div>
<br>
<br>