<!--Navbar-->
<mdb-navbar SideClass="navbar sticky-top navbar-expand-md navbar-dark indigo accent-2">
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>
  <links>

    <div class="col-md-7">
        <app-header-search></app-header-search>
    </div>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect>Login/Signup</a>
      </li>
      <app-header-cart></app-header-cart>      
      <app-profile-dropdown></app-profile-dropdown>
    </ul>
  </links>
</mdb-navbar>
<!--/.Navbar-->