<li class="nav-item">
     <a class="nav-link waves-light" [routerLink]="['/checkout/cart']" mdbWavesEffect
     style="position: relative;">

      <div class="text-center" style="    width: 13px;
      height: 13px;
      background: aqua;
      border-radius: 50%;
      position: absolute;
      left: 0%;
      top: 0%;
      font-size: 11px;
      color: black;">
        1
      </div>
      <img style="width: 20px;" src="https://png.pngtree.com/svg/20160305/cart_2f_79151.png">
      Cart
        </a> 
  </li>