<li class="nav-item dropdown" dropdown>
  <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
    User<span class="caret"></span></a>
  <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
    <a class="dropdown-item waves-light" mdbWavesEffect href="#">My Profile</a>
    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
    <div class="divider dropdown-divider"></div>
    <a class="dropdown-item waves-light" mdbWavesEffect href="#">Logout</a>
  </div>
</li>