<div class="card sky-gradient">
  <div class="card-body white-text rgba-black-light text-center" style="padding-top: 6px;padding-bottom: 6px;">
    <div class="row">
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid green">
              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid green">
              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid green">

              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid green">

              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid green">

              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>