<div class="card">
  <div class="card-body text-center" style="padding-top: 10px;padding-bottom: 10px;">
    <div class="row">
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              Fruits & Vegitable<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid #536dfe">
              <a class="dropdown-item waves-light" [routerLink]="['/home']">Fresh Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Fresh Fruits</a>
              <a class="dropdown-item waves-light" href="#">Herbs & Seasoning</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              Kirana & Grcery<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid #536dfe">
              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid #536dfe">

              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid #536dfe">

              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-md-2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown" dropdown>

            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle">
              All Categories<span class="caret"></span></a>

            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu" style="border-top: 10px solid #536dfe">

              <a class="dropdown-item waves-light" href="#">Fruits & Vegitable</a>
              <a class="dropdown-item waves-light" href="#">Kirana & Grocery</a>
              <a class="dropdown-item waves-light" href="#">Something else here</a>
              <a class="dropdown-item waves-light" href="#">dsfdsdssd</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>