<br>
<div class="card">
  <div class="card-header" style="background: none;">
    <label>PRICE DETAILS</label>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="left col-md-9">
        <label>Price (4 items)</label>
      </div>
      <div class="right col-md-3">
        <label>₹61,996</label>
      </div>
    </div>
    <div class="row">
      <div class="left col-md-9">
        <label>Delivery Charges
        </label>
      </div>
      <div class="right col-md-3">
        <label>Free</label>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="left col-md-9">
        <label>Amount Payable
        </label>
      </div>
      <div class="right col-md-3">
        <label>₹61,996</label>
      </div>
    </div>

  </div>
</div>
<br>
<br>